﻿/*
by default the namespace + "-" + class name is the css class of your custom control. Periods in the namespace
are replaced with dashes 
You could also specify a different class and set the class in the .cs file like so: this.Attributes.Add("class", "myCustomClass");
*/
.DragAndDropControl-DragAndDropFile-Control
{
	/* e.g. background-color: inherit; */
	vertical-align:middle;
	height: 52px;
}

.dragdroppanel-border 
{
	border: 2px dashed #0B85A1;
}

.dragdroppanel-border.hover 
{
    border: 2px dashed #0000FF;
}

.dragdroppanel {
	height: 52px;
	position: relative;
}

.ddThumbnailPanel 
{
	overflow: hidden;
	position: absolute;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	padding: 5px 5px 5px 5px;
	width: 52px;
	height: 52px;
}

.ddThumbnail 
{
    border: 1px solid #BBBBBB !important;
    overflow: hidden;
    padding: 5px;
    position: absolute;
    left: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
}

.ddTextPanel
{
    overflow:hidden;
    margin-left: 52px !important;
}

.ddTextTable 
{
	width:100%;
	height:52px;
	position: absolute;
}

.ddTextTableTD 
{
	vertical-align: middle;    
}

.ddCtrlOverlay 
{
    width: 20px;
    left: 90%;
    text-align: right;
    overflow:hidden;
	position: relative;
}

.ddCloseIconImg 
{
    cursor: pointer;
}

.ddPointerCursor 
{
	cursor: pointer;
}


.tree li.draganddropfile-control > a,
.tree li.draganddropfile-control > span,
.tree li.draganddropfile-control.children > a,
.tree li.draganddropfile-control.children.open > a,
.tree li.draganddropfile-control.children.closed > a,
.tree li.draganddropfile-control.children>span,
/* Rules Designer: Action configuration target mappings screens where the control has been dropped (2) */
.token-input .entity.icon.draganddropfile-control .entity-text,
/* Rules Designer: Navigate to Form action in the URL preview (3) */
#FormNavigatePreviewPanel .token.draganddropfile-control,
/* View/Form Designer: Droppable control's list on the right and the change control popup list(4) */
.toolboxitem.draganddropfile-control,
/* Runtime: List View filter mappings popup target dropped control (5) */
.theme-entry .drop-item.draganddropfile-control,
/* Runtime: List View filter mappings popup context tree (6) */
.theme-entry .tree li.draganddropfile-control > a,
.theme-entry .tree li.draganddropfile-control.children.open > a,
.theme-entry .tree li.draganddropfile-control.children.closed > a,
.theme-entry .tree li.draganddropfile-control > span,
/* Rule Designer: Action hot spot context menu (7) */
.menu a.menu-item.control-draganddropfile span.menu-item-icon,
/* Rule Designer: Action configuration target mappings tree (8) */
.input-control.icon-control.draganddropfile-control .input-control-icon,
/* Rule Designer: Transfer data action configuration target mappings screen dropped item (9) */
.drop-item.draganddropfile-control,
/* View Designer: While dragging and dropping control on to the canvas (10) */
a.ui-draggable-dragging.draganddropfile-control
{
    background-image:url(<%= WebResource("DragAndDropControl.Resources.DragDropIcon.png")%>);
}